# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [2]:
import os
import numpy as np
import pandas as pd

In [4]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [5]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [6]:
sub_train = pd.get_dummies(sub_train)
print(sub_train.shape)
sub_train.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0

In [7]:
from sklearn.preprocessing import LabelEncoder

gle = LabelEncoder()
for i in range(0 , app_train.shape[1]):
    if app_train.iloc[: , i].dtype == 'object':
        try:
            genre_labels = gle.fit_transform(app_train.iloc[: , i])
            temp = pd.DataFrame(genre_labels)
            app_train = pd.concat([app_train , temp] , axis = 1)
            col_names = app_train.columns.values
            col_names[-1] = app_train.columns[i] + 'label_encoding'
            app_train.columns = col_names 
        except TypeError:
            app_train.iloc[: , i] = app_train.iloc[: , i].apply(lambda x : str(x))
            genre_labels = gle.fit_transform(app_train.iloc[: , i])
            temp = pd.DataFrame(genre_labels)
            app_train = pd.concat([app_train , temp] , axis = 1)
            col_names = app_train.columns.values
            col_names[-1] = app_train.columns[i] + 'label_encoding'
            app_train.columns = col_names
            
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,NAME_EDUCATION_TYPElabel_encoding,NAME_FAMILY_STATUSlabel_encoding,NAME_HOUSING_TYPElabel_encoding,OCCUPATION_TYPElabel_encoding,WEEKDAY_APPR_PROCESS_STARTlabel_encoding,ORGANIZATION_TYPElabel_encoding,FONDKAPREMONT_MODElabel_encoding,HOUSETYPE_MODElabel_encoding,WALLSMATERIAL_MODElabel_encoding,EMERGENCYSTATE_MODElabel_encoding
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,4,3,1,8,6,5,3,0,5,0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,1,1,1,3,1,39,3,0,0,0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,4,3,1,8,1,11,0,1,7,2
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,4,0,1,8,6,5,0,1,7,2
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,4,3,1,3,4,37,0,1,7,2