# 作業 : (Kaggle)鐵達尼生存預測
https://www.kaggle.com/c/titanic

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察均值編碼的效果

# [作業重點]
- 仿造範例, 完成標籤編碼與均值編碼搭配邏輯斯迴歸的預測
- 觀察標籤編碼與均值編碼在特徵數量 / 邏輯斯迴歸分數 / 邏輯斯迴歸時間上, 分別有什麼影響 (In[3], Out[3], In[4], Out[4])

# 作業1
* 請仿照範例，將鐵達尼範例中的類別型特徵改用均值編碼實作一次

In [1]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy, time
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

data_path = 'data/'
df_train = pd.read_csv(data_path + 'titanic_train.csv')
df_test = pd.read_csv(data_path + 'titanic_test.csv')

train_Y = df_train['Survived']
ids = df_test['PassengerId']
df_train = df_train.drop(['PassengerId', 'Survived'] , axis=1)
df_test = df_test.drop(['PassengerId'] , axis=1)
df = pd.concat([df_train,df_test])
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#只取類別值 (object) 型欄位, 存於 object_features 中
object_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'object':
        object_features.append(feature)
print(f'{len(object_features)} Numeric Features : {object_features}\n')

# 只留類別型欄位
df = df[object_features]
df = df.fillna('None')
train_num = train_Y.shape[0]
df.head()

5 Numeric Features : ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,None,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,None,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,None,S

In [3]:
print(df)

                                                  Name     Sex  \
0                              Braund, Mr. Owen Harris    male
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female
2                               Heikkinen, Miss. Laina  female
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female
4                             Allen, Mr. William Henry    male
5                                     Moran, Mr. James    male
6                              McCarthy, Mr. Timothy J    male
7                       Palsson, Master. Gosta Leonard    male
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female
9                  Nasser, Mrs. Nicholas (Adele Achem)  female
10                     Sandstrom, Miss. Marguerite Rut  female
11                            Bonnell, Miss. Elizabeth  female
12                      Saundercock, Mr. William Henry    male
13                         Andersson, Mr. Anders Johan    male
14                Vestrom, Miss. Hulda Amanda Adolfina  female
15                    Hewlett, Mrs. (Mary D Kingcome)   female
16                                Rice, Master. Eugene    male
17                        Williams, Mr. Charles Eugene    male
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female
19                             Masselmani, Mrs. Fatima  female
20                                Fynney, Mr. Joseph J    male
21                               Beesley, Mr. Lawrence    male
22                         McGowan, Miss. Anna "Annie"  female
23                        Sloper, Mr. William Thompson    male
24                       Palsson, Miss. Torborg Danira  female
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female
26                             Emir, Mr. Farred Chehab    male
27                      Fortune, Mr. Charles Alexander    male
28                       O'Dwyer, Miss. Ellen "Nellie"  female
29                                 Todoroff, Mr. Lalio    male
..                                                 ...     ...
388                               Canavan, Mr. Patrick    male
389                        Palsson, Master. Paul Folke    male
390                         Payne, Mr. Vivian Ponsonby    male
391     Lines, Mrs. Ernest H (Elizabeth Lindsey James)  female
392                      Abbott, Master. Eugene Joseph    male
393                               Gilbert, Mr. William    male
394                           Kink-Heilmann, Mr. Anton    male
395     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)  female
396                               Colbert, Mr. Patrick    male
397  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...  female
398                     Larsson-Rondberg, Mr. Edvard A    male
399                           Conlon, Mr. Thomas Henry    male
400                            Bonnell, Miss. Caroline  female
401                                    Gale, Mr. Harry    male
402                     Gibson, Miss. Dorothy Winifred  female
403                             Carrau, Mr. Jose Pedro    male
404                       Frauenthal, Mr. Isaac Gerald    male
405       Nourney, Mr. Alfred (Baron von Drachstedt")"    male
406                          Ware, Mr. William Jeffery    male
407                         Widener, Mr. George Dunton    male
408                    Riordan, Miss. Johanna Hannah""  female
409                          Peacock, Miss. Treasteall  female
410                             Naughton, Miss. Hannah  female
411    Minahan, Mrs. William Edward (Lillian E Thorpe)  female
412                     Henriksson, Miss. Jenny Lovisa  female
413                                 Spector, Mr. Woolf    male
414                       Oliva y Ocana, Dona. Fermina  female
415                       Saether, Mr. Simon Sivertsen    male
416                                Ware, Mr. Frederick    male
417                           Peter, Master. Michael J    male

                 Ticket        Cabin Embarked
0             A/5 21171         None        S
1              PC 17599          C85        C
2      STON/O2. 3101282         None        S
3                113803         C123        S
4                373450         None        S
5                330877         None        Q
6                 17463          E46        S
7                349909         None        S
8                347742         None        S
9                237736         None        C
10              PP 9549           G6        S
11               113783         C103        S
12            A/5. 2151         None        S
13               347082         None        S
14               350406         None        S
15               248706         None        S
16               382652         None        Q
17               244373         None        S
18               345763         None        S
19                 2649         None        C
20               239865         None        S
21               248698          D56        S
22               330923         None        Q
23               113788           A6        S
24               349909         None        S
25               347077         None        S
26                 2631         None        C
27                19950  C23 C25 C27        S
28               330959         None        Q
29               349216         None        S
..                  ...          ...      ...
388              364858         None        Q
389              349909         None        S
390               12749          B24        S
391            PC 17592          D28        S
392           C.A. 2673         None        S
393          C.A. 30769         None        S
394              315153         None        S
395               13695          C31        S
396              371109         None        Q
397               13567          B41        C
398              347065         None        S
399               21332         None        Q
400               36928           C7        S
401               28664         None        S
402              112378         None        C
403              113059         None        S
404               17765          D40        C
405       SC/PARIS 2166          D38        C
406               28666         None        S
407              113503          C80        C
408              334915         None        Q
409  SOTON/O.Q. 3101315         None        S
410              365237         None        Q
411               19928          C78        Q
412              347086         None        S
413           A.5. 3236         None        S
414            PC 17758         C105        C
415  SOTON/O.Q. 3101262         None        S
416              359309         None        S
417                2668         None        C

[1309 rows x 5 columns]

# 作業2
* 觀察鐵達尼生存預測中，均值編碼與標籤編碼兩者比較，哪一個效果比較好? 可能的原因是什麼?

In [5]:
# 對照組 : 標籤編碼 + 邏輯斯迴歸
df_temp = pd.DataFrame()
for c in df.columns:
    df_temp[c] = LabelEncoder().fit_transform(df[c])
train_X = df_temp[:train_num]
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, train_X, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 0.780004837244799
time : 0.0639650821685791 sec

D:\python\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\python\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\python\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\python\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\python\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [6]:
# 均值編碼 + 邏輯斯迴歸
data = pd.concat([df[:train_num], train_Y], axis=1)
for c in df.columns:
    mean_df = data.groupby([c])['Survived'].mean().reset_index()
    mean_df.columns = [c, f'{c}_mean']
    data = pd.merge(data, mean_df, on=c, how='left')
    data = data.drop([c] , axis=1)
data = data.drop(['Survived'] , axis=1)
estimator = LogisticRegression()
start = time.time()
print(f'shape : {train_X.shape}')
print(f'score : {cross_val_score(estimator, data, train_Y, cv=5).mean()}')
print(f'time : {time.time() - start} sec')

shape : (891, 5)
score : 1.0
time : 0.02498173713684082 sec

D:\python\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\python\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\python\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\python\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
D:\python\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

均值化效果較好；可能原因是標籤編碼之於分數並未有太大相關，相較下，均值化所得到的結果就關係密切，因而評分會較高